body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
    position: relative;

    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("../img/Lion-Background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.titleProfile {
    position: absolute;
    width: 50%;
    height: 10%;
    left: 19%;
    top: 13%;
    
    font-family: 'Varela Round', sans-serif;
    font-size: 46px;
    text-align: center;
    
    color: rgba(0, 0, 0, 0.7);
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.configProfile {
    position: absolute;
    width: 50%;
    height: 45%;

    background: rgba(255, 255, 255, 0.63);
    border-radius: 35px;
    box-sizing: border-box;
    backdrop-filter: blur(15px);
}

.fields {
    margin: 5%;
    margin-left: 2%;
}

.lab {
    width: 45%;
    text-align: right;
}

.pseudo {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
.nom {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.prenom {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.email {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.confirmEmail {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.password {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.confirmPassword {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;   
}

input {
    width: 250px;
    color: white;
    margin: 2px;
    border: 2px solid #292929;
    border-radius: 5px;
    background-color: #292929;
}

.error {
    color: red;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 80%;
    left: 35%;
    width: 30%;
    height: 15%;
}

.goBack {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 90%;
    left: 5%;

    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}