body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
    position: relative;
}

.container {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("./img/Lion-Background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}