body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Varela Round';
    position: relative
}

.container {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("./img/Lion-Background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.carte {
    background-color: rgba(255,255,255,0.5);
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.carteImage {
    padding: 15px;
}

.logoMeow {
    width: 300px;
}

.carteTexte {
    padding: 15px;
}

h4 {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.bouton {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

.boutonSeConnecter {
    color: white;
    background-color: rgb(25, 125, 200);
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
}

#connected {
    display: flex;
    height: 100%;
    width: 100%;
}

#listConv {
    background-color: rgba(0, 0, 0, 0.562);
    height: 100%;
    width: 20%;
    overflow-x: hidden;
}

#newConvName {
    width: 70%;
}

#submitName {
    width: 20%;
}

#chatView {
    background-color: rgba(0, 0, 0, 0.178);
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.conv_tile {
    height: 50px;
}

.conv_name {
    display: block;
    padding-left: 60px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}

.conv_tile:hover {
    background-color: rgba(0, 0, 0, 0.281);
}

.selected {
    background-color: rgba(0, 0, 0, 0.63);
}

#profile {
    height: 75px;
}

#profile a {
    color: black;
}

.sendChat {
    margin: 10px;
    display: flex;
}

.msgToSend {
    resize: none;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    text-align: left;
}

.sendChat .submit {
    width: 10%;
}

.hide {
    display: none;
}

#msgList {
    margin-left: 10px;
    overflow-y: scroll; 
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.msg {
    color: white;
}

.msgAuthor {
    text-align: left;
}

.msgContent {
    text-align: center;
}

.msgTime {
    font-size: 9px;
}

.alternate {
    background-color: rgba(248, 0, 0, 0.473);
    border-radius: 5px;
}