body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Varela Round';
    position: relative
}

.container {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("./img/Lion-Background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.carte {
    background-color: rgba(255,255,255,0.5);
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.carteImage {
    padding: 15px;
}

.logoMeow {
    width: 300px;
}

.carteTexte {
    padding: 15px;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    color: white;
    margin-top: 25vh;
    padding-bottom: 10px;
}

h4 {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.bouton {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

.boutonSeConnecter {
    color: white;
    background-color: rgb(25, 125, 200);
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
}

#connected {
    display: flex;
    height: 100%;
    width: 100%;
}

#listConv {
    background-color: rgba(0, 0, 0, 0.562);
    height: 100%;
    width: 20%;
    overflow-x: hidden;
}

#newConvName {
    width: 70%;
}

#submitName {
    width: 20%;
}

#chatView {
    background-color: rgba(0, 0, 0, 0.178);
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    vertical-align: middle;
}

.dropdownmenu {
    display: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    width: 20vw;
    top: 45px;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
}

.dropdownmenu a {
    text-decoration: none;
    margin: 10px 0 5px 0;
}

#createConvForm {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 5px 0 5px 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    border-top: solid 1px rgba(0, 0, 0, 0.2);
}

#submitName {
    width: 15vw;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.buttonDDM {
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    margin: 5px 0 10px 0;
}

.label {
    color: black;
}
.conv_tile {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conv_name {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    width: 100%;
}

.conv_tile:hover {
    background-color: rgba(0, 0, 0, 0.281);
}

.selected {
    background-color: rgba(0, 0, 0, 0.63);
}

.menuOption {
    color: black;
    font-size: 15px;
    text-align: center;
}

#profile {
    height: 75px;
    color: white;
    font-size: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sendChat {
    margin: 10px;
    display: flex;
}

.msgToSend {
    resize: none;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    text-align: left;
}

.sendChat .submit {
    width: 10%;
}

.hide {
    display: none;
}

#msgList {
    margin-left: 10px;
    overflow-y: scroll; 
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.msg {
    color: white;
    display: flex;
    height: auto;
}

.msgAuthor {
    text-align: left;
}

.msgContent {
    text-align: center;
}

.msgTime {
    font-size: 10px;
}

.msgEditButton {
    background-color: rgba(255,255,255,0);
    border: none;
}

.alternate {
    background-color: rgba(248, 0, 0, 0.473);
    border-radius: 5px;
}